{% extends 'base.html' %} {% block title %} Create a New Shortener {% endblock
%} {% block content %}
<form class="modal-content" method="post">
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required />

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required />
    <label for="pswc"><b>Check Password</b></label>
    <input type="password" placeholder="Enter Again" name="pswc" required />
    <button type="submit">Register</button>
  </div>
</form>



{% endblock %}
