{% extends 'base.html' %}
{% block title %} Create a New Shortener {% endblock %}
{% block content %}
<script>
	function submitPost(event) {
    $.ajax({
      type: "post",
      url: "http://127.0.0.1:5000/",
      data: $("#formshort").serialize(),
      headers: {
        Authorization: "Bearer " + localStorage.getItem("token"),
      },
      success: function (data) {
        console.log("Short Success");
        // alert("Got a token from the server! Token: " + data.token);
      },
      error: function () {
        alert("short Failed");
      },
    });
  }
</script>
<div class="content">
	<h2>URL Shortener</h2>
	<form id="formshort" method="post">
	    <div class="input">
	        <label for="title">Input URL: </label>
	        <input type="text" name="url"
	               placeholder="input the url..." class="form-control"
	               value="{{ request.form['url'] }}"></input>

	        <button type="submit" id="short" onclick="submitPost()" class="btn btn-primary">Shorten</button>
	    </div>
	</form>

	{% if short_url %}
		<label for="title">Output URL: </label>
        <span><a href="{{ short_url }}">{{ short_url }}</a></span>
    {% endif %}

    {% if url_false %}
		<h4> The input url is empty or incorrectly formatted. </h4>
    {% endif %}

</div>

{% endblock %}
